<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                            http://www.springframework.org/schema/context
                            http://www.springframework.og/schema/context/spring-context-4.2.xsd">




<!--    <bean id="tv" class="SamsungTV" init-method="initMethod" destroy-method="destroyMethod">-->
<!--        <constructor-arg ref="apple"/>-->
<!--        <constructor-arg value="2700000"/>-->
<!--        <property name="speaker" ref="apple"/>-->
<!--        <property name="price" value="2700000"/>-->
<!--    </bean>-->

<!--    <bean id="sony" class="SonySpeaker"/>-->
<!--    <bean id="apple" class="AppleSpeaker"/>-->

<!--    <bean id="collectionBean" class="CollectionBean">-->
<!--        <property name="addressList">-->
<!--            <list>-->
<!--                <value>Seoul Gangnam Yuksam</value>-->
<!--                <value>Seoul Sungdong Hangdang</value>-->
<!--            </list>-->
<!--            <set value-type="java.lang.String">-->
<!--                <value> Seoul Gangnam Yuksam </value>-->
<!--                <value> Seoul Sungdong Sungsu </value>-->
<!--                <value> Seoul Sungdong Sungsu </value>-->
<!--            </set>-->
<!--        </property>-->
<!--        <property name="addressList">-->
<!--            <props>-->
<!--                <prop key="고길동">Seoul Gangnam Yuksam</prop>-->
<!--                <prop key="마이콜">Seoul Gangseo Hwagok</prop>-->
<!--            </props>-->
<!--        </property>-->
<!--    </bean>-->

</beans>